* {
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS';
}

html, body {
    background-color: RGB(144, 137, 203);
}

/* index.php */
#auth {
    width: 550px;
    height: 600px;
    text-align: center;
    margin : auto;
    background-color: white;
    margin-top: 150px;
    border-radius: 20px;
}

#auth h1 {
    padding-top: 125px;
    font-size: 40px;
    color: black;
}

#auth input {
    height: 40px;
    width: 300px;
    border-radius: 10px;
    font-size: 18px;
    border-radius: 10px;
}

#login {
    margin-top: 80px;
    margin-bottom: 25px;
    padding-left: 25px;
    border: 2px solid black;
}

#mdp {
    margin-top: 25px;
    margin-bottom: 70px;
    padding-left: 25px;
    border: 2px solid black;
}

#submit {
    width: 150px;
    height: 40px;
    padding: 5px;
    color: white;
    background-color: RGB(144, 137, 203);
    margin-bottom: 30px;
    font-weight: bolder;
    border-style: none;
}

#submit:hover {
    color: white;
    background-color: RGB(131, 40, 144);
}

/* client.php */
#header {
    background-color: RGB(131, 40, 144);
    padding: 2em;
}

#header div{
    margin: auto;
    max-width: 1200px;
    display: flex;
}

#pseudo {
    font-weight: bold;
    font-size : 2em;
    color: white;
    flex: auto;
}

#body{
    margin: auto;
    max-width: 1200px;
}

.article {
    background-color: white;
    padding: 3em;
    margin: 10px;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
}

.contenu {
    width: 50%;
}

.boutons {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.boutons a {
    text-decoration: none;
    font-size: large;
    margin: 10px 0;
    color: RGB(131, 40, 144);
}

.boutons a:hover {
    color: RGB(144, 137, 203);
}

button {
    border-radius: 10px;
    border: none;
    font-size: medium;
    padding: 0 5px;
}

button:hover {
    background-color: red;
    color : white;
}

#body label {
    font-size: large;
    color: white;
}