* {
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS';
}

html, body {
    background-color: RGB(144, 137, 203);
}

/* index.php */
#auth {
    width: 550px;
    height: 600px;
    text-align: center;
    margin : auto;
    background-color: white;
    margin-top: 150px;
    border-radius: 20px;
}

#auth h1 {
    padding-top: 125px;
    font-size: 40px;
    color: black;
}

#auth input {
    height: 40px;
    width: 300px;
    border-radius: 10px;
    font-size: 18px;
    border-radius: 10px;
}

#login {
    margin-top: 80px;
    margin-bottom: 25px;
    padding-left: 25px;
    border: 2px solid black;
}

#mdp {
    margin-top: 25px;
    margin-bottom: 70px;
    padding-left: 25px;
    border: 2px solid black;
}

#submit {
    width: 150px;
    height: 40px;
    padding: 5px;
    color: white;
    background-color: RGB(144, 137, 203);
    margin-bottom: 30px;
    font-weight: bolder;
    border-style: none;
}

#submit:hover {
    color: white;
    background-color: RGB(131, 40, 144);
}

/* client.php */
#header {
    background-color: RGB(131, 40, 144);
    padding: 2em;
}

#header div{
    margin: auto;
    max-width: 1200px;
    display: flex;
}

#pseudo {
    font-weight: bold;
    font-size : 2em;
    color: white;
    flex: auto;
}

#body{
    margin: auto;
    max-width: 1200px;
}

.article {
    background-color: white;
    padding: 3em;
    margin: 10px;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
}

.contenu {
    width: 50%;
}

.boutons {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.boutons a {
    text-decoration: none;
    font-size: large;
    margin: 10px 0;
    color: RGB(131, 40, 144);
}

.boutons a:hover {
    color: RGB(144, 137, 203);
}

button {
    border-radius: 10px;
    border: none;
    font-size: medium;
    padding: 0 5px;
    margin: 0 10px;
}

#deconnexion:hover {
    background-color: red;
    color : white;
}

#connexion:hover {
    background-color: greenyellow;
    color : white;
}

#body label {
    font-size: large;
    color: white;
}

/* Boutons Like Dislike */

.like-dislike {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.icon {
    height: 100px;
    width: 100px;
    background-position: left;
    cursor: pointer;
    position: absolute;
}

.btn-like .icon-like {
    background: url('img/heart.png');
}

.btn-dislike .icon-dislike {
    background: url('img/dislike.png');
}

.btn-like .icon-like.liked, .btn-dislike .icon-dislike.liked {
    animation: like-anim 0.7s steps(28) forwards;
}

@keyframes like-anim {
    to {
        background-position: right;
    }
}

.btn-like .icon-like-bg, .btn-dislike .icon-dislike-bg {
    background: rgba(255, 192, 200, 0);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease;
}

.btn-like .icon-like-bg:hover {
    background: rgba(255, 192, 200, 0.7);
}

.btn-dislike .icon-dislike-bg:hover {
    background: rgba(200, 192, 255, 0.4);
}

.btn-like, .btn-dislike {
    display: flex;
    align-items: center;
}
